@charset "UTF-8";

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.scores{
  height: 45px;
  width: 45px;
  padding: 4px 4px 4px 4px;
  border-radius: 50%;
  background-color: blueviolet;
}
.moods{
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
}
.head{
  height: 10%;
  border-bottom-style: double;
}
.tracker{
  width: 60%;
  height: 30%;
  
}
.container{
	display:inline-block;
}
.hideScore{
	height: 0px;
	width: 0px;
}
.hideThis{
	margin: 0;
}

.hoverinfo {  
	position: absolute;
  font-size: 18px;
  color: #929292;
  cursor: pointer;
  z-index: 100;
}
.hoverInfo span{
	margin:0 auto;
}

.hoverinfo p {
  display: none;
  color: #000000;
  z-index: 100;
}
.hoverinfo:hover p {
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
  z-index: 100;
}
.sidenav {
  height: 100%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(
    rgba(226, 255, 0, 0.49), 
    rgba(255, 88, 0, 0.45)
  );
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav img{

  border-radius: 45%;
  height: 200px;
  width: 200px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.indexbody {
background: linear-gradient(#ffd194, #70e1f5);
background-repeat: no-repeat;
width: 100vw;
height: 100vh;
}

.hruBox {
 color: white;
 padding: 10px;
 width: 50%;
 margin-right: auto;
 margin-left: auto;
 border-radius: 15px 15px 15px 15px;
 margin-bottom: auto;
 margin-top: 20%;
 text-align: center;
}

.buttons {
	
}

.listBody{
margin-left: 190px; /* Same as the width of the sidenav */
font-size: 15px; /* Increased text to enable scrolling */
padding: 0px 10px;
color: gray;
  }
  
.listBody p{
  text-align: left;
}

.moodListContainer{
	
}

.scoreDetail{
	display: flex;
}
.scoreDetail p{
	padding-top: 15px;
	padding-left: 10px;
}
.scoreDetail .hideScore{
	position: absolute;
	color: white;
	margin: 10px 10px 0 0;
    padding: 2px 10px
}
.quote {
	background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    color: #CCC;
}
.container2 {
margin-left: 250px; /* Same as the width of the sidenav */
font-size: 10px; /* Increased text to enable scrolling */
padding: 20px 10px;
color: gray;
}

.team-name {

margin-left: 10px; 
}
