@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Bitter|Courgette|Fjalla+One|Merienda|Oswald');

.range-slider-range {
  -webkit-appearance: none;
  width: calc(100% - (#{$range-label-width + 13px}));
  height: $range-track-height;
  border-radius: 5px;
  background: $range-track-color;
  outline: none;
  padding: 0;
  margin: 0;

  // Range Handle
  &::-webkit-slider-thumb {
    appearance: none;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-webkit-slider-thumb {
    background: $range-handle-color-hover;
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-moz-range-thumb {
    background: $range-handle-color-hover;
  }
  
  // Focus state
  &:focus {
    
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 3px $shade-0,
                  0 0 0 6px $teal;
    }
  }
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50%; /* Full-width */
    height: 30px; /* Specified height */
    border-radius: 20px; 
   background: linear-gradient(to right,
    rgba(84, 51, 255), 
    rgba(32, 189, 255),
    rgba(165, 254, 203) );
   /* gradient background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: yellow; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.scores{
  height: 45px;
  width: 45px;
  padding: 4px 4px 4px 4px;
  border-radius: 50%;
  background-color: blueviolet;
}
.moods{
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  background-color:ded3ff;
}
.head{
  height: 10%;
  border-bottom-style: double;
}
.tracker{
  width: 60%;
  height: 30%;
   
}
.container{
	display:inline-block;
}
.hideScore{
	height: 0px;
	width: 0px;
}
.hideThis{
	margin: 0;
}

.hoverinfo {  
	position: absolute;
  font-size: 18px;
  color: #929292;
  cursor: pointer;
  z-index: 100;
}
.hoverInfo span{
	margin:0 auto;
}

.hoverinfo p {
  display: none;
  color: #000000;
  z-index: 100;
}
.hoverinfo:hover p {
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
  z-index: 100;
}
.sidenav {
  height: 100%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(226,255,0,0.49),
  rgba(255,88,0,0.45));
  background-repeat: no-repeat;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav img{

  border-radius: 45%;
  height: 200px;
  width: 200px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
html, body { 
	margin: 0; 
	padding: 0;
	width: 100%;
height: 100%;
background: fffce3;

 } 

.indexBody {
background: linear-gradient(#ffd194, #70e1f5);
background-repeat: no-repeat;
background-size: cover;

}

.hruBox {
	font-family: 'Merienda', cursive; 
	font-size: 50px;
 	color: white;
	margin-left: 35%;
 	margin-top: 5%;
 	display: block;
 	text-align: center;
}
.resultsBox{
	font-family: 'Merienda', cursive; 
	font-size: 30px;
 	color: white;
 	display: block;
 	text-align: center;
 	width: 50%;
 	margin-left: 25%;
 	margin-top: 5%;
 	
}
#indexSubmit{
	font-size: 25px;
	width: 40%;
	
}
.buttons {
	
}
#myRange{
	
}

.listBody{
margin-left: 190px; /* Same as the width of the sidenav */
font-size: 15px; /* Increased text to enable scrolling */
padding: 0px 10px;
color: gray;
  }
  
.listBody p{
  text-align: left;
}

.moodListContainer{
	
}

.scoreDetail{
	display: flex;
}
.scoreDetail p{
	padding-top: 15px;
	padding-left: 10px;
}
.scoreDetail .hideScore{
	position: absolute;
	color: white;
	margin: 10px 10px 0 0;
    padding: 2px 10px
}
#quote {
	background-color: transparent;
    border: transparent;
    padding: 3px 3px;
    width: 100%;
    height: 95px;
    color: #14635b;
	word-break: break-all;
	white-space: normal;
}
#quoteauthor{
    border: transparent;
    text-align: center;
    padding: 3px 3px;
    height: 30px;
    width: 100%;
    color: #b3e6de;
    word-wrap: break-word;
    font-family: 'Allura', cursive;
	background-color: transparent;
	text-align: right;
	padding: 5px 25px;
 	font-size: 32px;
}
.quotebox {
	font-family: 'Allura', cursive; 
	text-align: left;
	width: 100%;
	padding: 5px 25px;
 	font-size: 35px;
 	padding-left: 50px;
 	word-break: break-all;
	white-space: normal;
	background-size: auto;
	table-layout: fixed;
	word-wrap: normal;
	word-break: break-all;
	white-space: normal;
	
}
h1 {
	font-family: 'Merienda', cursive; 
	font-size: 40px;
 	color: #70e1f5;
 	display: block;
 	text-align: center;
}
.home {
	text-align: left;
}
h2 {
	padding-top: 10px;
	font-family: 'Allura', cursive; 
	font-size: 45px;
 	color: #14635b;
 	display: block;
 	text-align: center;
}

h3{
	font-family: 'Merienda', cursive; 
	font-size: 20px;
 	color: #3cb5a3;
 	display: block;
 	text-align: left;	
}

h4{
	font-family: 'Merienda', cursive; 
	font-size: 20px;
 	color: #3cb5a3;
 	display: block;
 	text-align: center;
	
}
h5 {
	font-family: 'Merienda', cursive; 
	font-size: 40px;
 	color: #70e1f5;
 	display: block;
 	text-align: left;
}
.body {
	background: ffe2ba;
}
.btn-outline-success {
	border-color: #3cb5a3;
	font-family: 'Merienda', cursive;
	text-color: color: #3cb5a3;
}
img { 
    display: inline-block;
}
.containerhome {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: auto;
    position: center;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

.container2 {
	margin: 250px; /* Same as the width of the sidenav */
	font-size: 10px; /* Increased text to enable scrolling */
	padding: 20px 10px;
	color: gray;
}

.team-name {

margin-left: 10px; 
}

